:root {
  --grey: #f4f4f4;
  --dark-grey: #555555;
  --main-blue: #6aaadc;
  --dark-blue: #2e72de;
  --text: #454545;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
}
.nav-bar {
  z-index: 1;
  transition: all 0.3s;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--grey);
}

.logo {
  width: 155px;
  height: 45px;
  margin-right: 20px;
}

.nav-bar-links-cont {
  flex: 1;
  max-width: 75%;
  display: flex;
  align-items: center;
}
.nav-link {
  color: var(--dark-grey);
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 12px;
  font-weight: 500;
  border-radius: 10px;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}
.auth-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 14%;
  transition: all 0.3s;
}
.active-nav-link {
  cursor: default;
  transition: all 0.1s;
  background: var(--grey);
}
.cart-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 30px;
  margin-left: 10px;
}
.cart-preview-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.121);
  border-radius: 100%;
}
.cart-preview-number {
  position: absolute;
  top: -10px;
  right: -5px;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-blue);
}

.cart-preview-number span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.cart-svg {
  width: 50%;
  height: 50%;
}
.title {
  color: var(--text);
  font-size: 54px;
  width: 70%;
  max-width: 800px;
  text-align: center;
}
.sm-title {
  margin: 0px;
  color: var(--text);
}
.login-btn {
  width: 80%;
  max-width: 140px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 500;
  color: var(--dark-grey);
  background: var(--grey);
}
.page {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* Puzzle Gen Page */
.upload-box {
  width: 90vw;
  margin: 20px;
  max-width: 365px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 40px #0000001a;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
input[type="file"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 1; /* move under anything else */
}
.upload-puzzle-svg {
  width: 30%;
  height: 30%;
}
.upload-info {
  border-radius: 10px;
  border: 5px dashed #f3f3f3;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  width: 70%;
  background: white;
  margin-top: 25px;
}
.upload-cmd-instruction {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  background-color: #00000008;
  border-top: 1px solid #edeff0;
}

.upload-cmd-instruction span {
  background: white;
  border: 3px solid var(--grey);
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
  margin: 5px;
  border-radius: 5px;
  font-size: 12px;
}

.upload-cmd-instruction p {
  margin: 0px;
  margin-right: 20px;
  color: var(--text);
  text-decoration: underline;
  font-size: smaller;
}
.upload-image-btn {
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 14px;
  border: none;
  background-color: var(--main-blue);
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  position: relative;
  cursor: pointer;
}
.upload-image-btn:hover {
  opacity: 90%;
}
.upload-test-images-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
.upload-test-image {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 120px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 40px #0000001a;
}
.upload-test-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.disabled {
  position: relative;
  opacity: 40%;
  overflow: visible;
}
.disabled svg {
  width: 100px;
  height: 120px;
}
.coming-soon {
  text-align: center;
  width: 100%;
  top: -20px;
  font-size: 12px;
  position: absolute;
}
.drop-file-text {
  font-size: 14px;
}
/* puzzle-editor */
.puzzle-editor {
  display: flex;
  width: 80%;
  max-width: 1000px;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 40px #00000040;
  position: relative;
}
.puzzle-info-container {
  width: 40%;
  padding-left: 40px;
  border-left: 2px solid var(--grey);
}
.remove-photo-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  right: 30px;
  top: 20px;
  background: var(--grey);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: absolute;
}
.editor-puzzle-container {
  border-radius: 10px;
  background: white;
  margin: 20px;
  box-shadow: 0 0 40px #00000020;
  width: 95vw;
  overflow: hidden;
  height: 400px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.puzzle-container {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editor-puzzle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shape-selection-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 2px solid var(--grey);
  margin-top: 10px;
  padding-bottom: 14px;
  margin-bottom: 10px;
}
.shape-selection-box button {
  border: none;
  padding: 10px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 4px;
}
.puzzle-info-title {
  margin: 0px;
  color: var(--text);
  font-size: 12px;
  font-weight: 600;
}
.info-tag-line {
  font-size: 12px;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--main-blue);
}
/* Puzzle Shapes */
.square {
  aspect-ratio: 1/1;
}
.circle {
  border-radius: 50%;
}
.rectangle {
  max-width: 300px;
}
.mobile-menu-container {
  width: 20%;
  display: none;
  align-items: center;
  justify-content: center;
}
.mobile-menu-container svg {
  width: 30px;
  height: 30px;
}
@media only screen and (max-width: 1000px) {
  .title {
    font-size: 25px;
  }
  .mobile-menu-container {
    display: flex;
  }
  .upload-cmd-instruction {
    display: none;
  }
  .upload-info {
    margin-bottom: 25px;
  }
  .upload-test-images-container {
    flex-wrap: wrap;
    width: 90%;
  }
  .upload-test-image {
    margin: 20px;
  }
  .drop-file-text {
    display: none;
  }
  .nav-link {
    display: none;
  }
  .logo {
    margin: 0px;
    margin-left: 24px;
  }
  .rectangle {
    height: 400px;
  }
  .auth-buttons-container {
    display: none;
  }
  .puzzle-container {
    width: 100%;
  }
  .puzzle-info-container {
    padding: 0px;
    width: 100%;
    border: none;
  }
  .puzzle-editor {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
}
